.DS_Store
thumbs.db
.vscode/
.idea/
*.swp

.terraform/
.terraform.lock.hcl

*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json

node_modules/
dist/
build/
.npm
*.log
.env
.env.local

*.log